<div class="self__wrap">
  <div class="self__ing">🙅‍♂️</div>
  <p class="self__text">Ваш самозапрет на сегодня</p>
  <button class="self__btn" (click)="choseSelfLocking()">Узнать</button>
  <p class="self__text --bold"
     [ngClass]="{ 'visible': isTextVisible }"
     (click)="copyToClipboard(alert)">
    {{ todaySelfLocking.title }}
  </p>
</div>

<app-custom-alert #alert></app-custom-alert>
<app-captcha (show)="showCaptchaSelection()"></app-captcha>
<app-captcha-selection *ngIf="isCaptchaSelectionShown" (selected)="selectCongratulation($event)"></app-captcha-selection>
<app-congratulations [message]="message" [isShown]="isCongratulationShown$.value" (close)="isCongratulationShown$.next(false)"></app-congratulations>


