.congratulations__background {
  position: fixed;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.congratulations__text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid lightgrey;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 25px;
  text-align: center;
  border-radius: 8px;
}

